<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Set A">
    <classes>
      <class name="TestPackage.QTTTestCase"/>
    </classes>
  </test> <!-- Test -->

 <test name="Set B">
    <classes>
      <class name="TestPackage.ValidateHomePage"/>
    </classes>
  </test> <!-- Test -->



</suite> <!-- Suite -->
